body { 
    font-family: sans-serif;
}
#instructions {
    text-align: center;
}
#randomNumDiv {
    border-width: 5px;
    border-style: dotted;
    text-align: center;
    font-size: 30px;
}
#winLoss {
    border-width: 5px;
    border-style: dotted;
    text-align: center;
    font-size: 30px;
}
#totalScore {
    border-width: 5px;
    border-style: dotted;
    text-align: center;
    font-size: 30px;
}
